.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.section{
    width: 300px;
    height: 400px;
    margin: 15px;
    margin-top: 50px;
    background-color:rgb(253, 245, 246);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.botomtxt{
    background-color: rgb(253, 245, 246);
    text-align: center;
    font-weight: 500;
    padding: 10px;  
}

.text{
    font-weight: 500;
    font-size: 20px;
}

.title{
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    background-color:rgb(253, 245, 246);
}

.title1{
    margin: 20px;
}

