/* Base styles for larger screens */
.container {
    width: 100%;
    height: 800px;
    background-image: url('./ResourceImage/new1.png');
    background-repeat: no-repeat;
    background-position: right;
}

.container1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 245, 246);
}

.header {
    padding-left: 200px;
    padding-top: 200px;
    font-size: 60px;
    font-weight: 700;
}

.header1 {
    font-display: auto;
    width: 100%;
    height: 100px;
    padding-top: 50px;
}

.header2 {
    font-display: auto;
    font-size: 30px;
    padding-left: 140px;
    padding-top: 50px;
}

.header3 {
    font-size: small;
    padding-left: 200px;
}

.image {
    width: 248px;
    height: 300px;
}

.image1 {
    width: 30%;
    height: auto; /* Adjusted for responsiveness */
    margin-left: 70%;
}

.section {
    width: 100%; /* Adjusted for responsiveness */
    max-width: 250px; /* Added max-width */
    height: auto; /* Adjusted for responsiveness */
    margin: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 24px;
}

.title {
    width: 100%;
    height: 70px;
    background-color: rgb(47, 72, 88);
    text-align: center;
    padding-top: 10px;
    border-radius: 0 0 24px 24px;
}

.text {
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        background-position: center; /* Adjusted for responsiveness */
    }

    .container1 {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .header {
        padding-left: 20px; /* Adjusted for responsiveness */
        padding-top: 100px; /* Adjusted for responsiveness */
        font-size: 40px; /* Adjusted for responsiveness */
    }

    .header1,
    .header2,
    .header3 {
        padding-left: 20px; /* Adjusted for responsiveness */
        
    }

    .image1 {
        width: 80%; /* Adjusted for responsiveness */
        margin-left: 10%; /* Adjusted for responsiveness */
    }
}