.botomtxt {
    background-color: rgb(253, 245, 246);
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    height: auto; /* Adjusted for responsiveness */
    text-align: center;
    background-color: rgb(253, 245, 246);
    margin-top: 10px;
    padding: 10px; /* Added padding for better spacing */
}

.image {
    width: 100%; /* Make images responsive within their containers */
    height: auto;
}

.pregnancy {
    background-color: rgb(253, 245, 246);
    width: 100%;
    height: 100px;
    text-align: center;
}

.preHeder {
    font-size: 25px;
    font-weight: 800;
}

.section {
    width: 100%; /* Adjusted for responsiveness */
    max-width: 300px;
    height: auto;
    margin: 15px;
    margin-top: 50px;
    background-color: rgb(253, 245, 246);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

.title {
    font-size: 30px; /* Adjusted for responsiveness */
    font-weight: 800;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .image {
        max-width: 80%; /* Adjusted for responsiveness */
        margin-left: 10%; /* Adjusted for responsiveness */
    }

    .section {
        max-width: 100%;
        margin: 10px 0;
    }

    .title {
        font-size: 25px; /* Adjusted for responsiveness */
    }
}
