.main{
    color: black;
    align-items: center;
    padding-left: 20px;
}

/*


form {
    background-color: blanchedalmond;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  

  
  label {
    display: block;
    margin-bottom: 8px;
  }

  .update-button {
    background-color: #6492f7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 400px;
    
  }
  
  .update-button:hover {
    background-color: #1d24f3;
  }
  */
  
  /* Add your media queries here for responsive design */
  /*@media screen and (max-width: 768px) {
    form {
      width: 80%;
    }
    .update-button {
        margin-left: 250px;
    }


  }
  
  @media screen and (max-width: 600px) {
    form {
      width: 80%;
    }
    .update-button {
        margin-left: 100px;
    }
  }


  */