#address{
    text-align:center;
    font-weight:bold;
    font-size:2rem;
    margin-top:2rem
}

.responsive-map{
    overflow : hidden;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    color: black;
}

.responsive-map iframe{
    border:0;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    position:absolute
}