.form {
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .textbox {
    display: flex;
    flex-direction: row;
  }
  
  .dropdown {
    display: flex;
    width: 60%;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 8px;
  }
  
  .date {
    display: flex;
    width: 40%;
    margin-top: 0px;
    margin-right: 30px;
  }
  
  .button {
    margin-right: 40px;
    margin-bottom: 20px;
  }
  
  .summaryreport{
      margin-left: 10px;
  }
  
  
  
  @media screen and (max-width: 1200px) {
    .textbox {
      display: flex;
      flex-direction: row;
    }
    .dropdown {
      display: flex;
      width: 60%;
      margin-top: 8px;
    }
  
    .date {
      display: flex;
      width: 200px;
      margin-top: 0px;
     }
  
    .button {
      display: flex;
      margin-right: 40px;
      margin-bottom: 20px;
    }
  }
  
  
    
    
  
  @media screen and (max-width:1050px) {
    .textbox {
      display: flex;
      flex-direction: column;
    }
  
    .dropdown {
      display: flex;
      width: 80%;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 8px;
      margin-bottom: 20px;
    }
  
    .date {
      display: flex;
      width: 70%;
      margin-left: 10px;
    }
    .button {
      margin-right: 50px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .summaryreport{
      margin-left: 10px;
      padding-left: 10px;
    }
  }
  