
.search-box1{
    margin: 20px;
    margin-left: 20px;
}


/* Styles for the table */
.table1 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: black;
}

.th1{

    padding: 8px;
    border: 1px solid #ddd;
}
/*
.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}
*/
/*
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.text-center {
    text-align: center;
}
*/
.tdmx-2 {
    margin-left: 8px;
    margin-right: 8px;
}

/* Styles for buttons */
.btn1 {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.btn1-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn1-info:hover {
    background-color: #46b8da;
    border-color: #398abe;
}

.btn1-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn1-warning:hover {
    background-color: #eea236;
    border-color: #d58512;
}

.btn1-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn1-danger:hover {
    background-color: #d43f3a;
    border-color: #ac2925;
}
