 

  .element{
  /* justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 4.6vw; */
}

.MuiFormControl-root {
  height: auto;
 max-width: 375px;
}

.MuiStack-root .MuiFormControl-root .MuiFormLabel-root {
  font-weight:400;
  font-size: 1.3rem;
  /* color: rgb(21, 10, 6); */
  line-height: 10.em;
}

.header{
  font-weight: 1000;
  height: 10vh;
  justify-content: flex-start;
  font-size: 2050%;
  text-align: center;

}

.button{
  padding-left: 60%;
  margin-bottom: 5%;
  margin-top: 6%;
}

.MuiFormControl-root .MuiInputBase-root{
  border-radius: 10px;
  /* border-color: black; */
  /* background-color:RGB(253, 245, 246); */
  background-color: #e4feff;
  border: 3px solid #00a9bb;
}