 
/*
  .element{
  
  margin-left: auto;
  margin-right: auto;
 
}

.MuiFormControl-root {
  height: auto;
 max-width: 375px;
}

.MuiStack-root .MuiFormControl-root .MuiFormLabel-root {
  font-weight:400;
  font-size: 1.3rem;
 
  line-height: 10.em;
}

.header{
  font-weight: 1000;
  height: 10vh;
  justify-content: flex-start;
  font-size: 2050%;
  text-align: center;

}

.button{
  padding-left: 60%;
  margin-bottom: 5%;
  margin-top: 6%;
}

.MuiFormControl-root .MuiInputBase-root{
  border-radius: 10px;
  
  background-color: #e4feff;
  border: 3px solid #00a9bb;
}
*/